<div>
    <form class="example-form">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Nom :</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Prenom :</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mot de passe :</mat-label>
        <input matInput type="passworrd">
      </mat-form-field></td>
    </tr></table>
    <button mat-button>Inscription</button></form>
  </div>
  
